* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-400: #555;
  --base-800: #000;
  --yellow: #ffda00;
  --yellow-100: #fffbe6;
  --yellow-400: #ffda4b;
  --yellow-800: #8b6f00;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
  --blue-400: #61dafb;
  --blue-800: #0a61ae;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

/* Navbar */
header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-holder {
  display: flex;
  padding: 10px;
  align-items: center;
  font-weight: 800;
  color: var(--base-800);
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: var(--base-800);
  color: var(--base-100);
  height: 64px;
  width: 64px;
  margin-right: 20px;
  border-radius: 50%;
}

.logo-text {
  flex: 1;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 5px;
}

li {
  display: flex;
}

a {
  display: inline-block;
  padding: 10px 20px;
  color: var(--base);
}

a:hover {
  background-color: var(--base-100);
  border-radius: 10px;
  text-decoration: none;
}

.mobile-toggle {
  display: none;
  color: var(--base-800);
  padding: 20px;
}

@media (max-width: 768px) {
  .mobile-toggle {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  header {
    flex-direction: column;
  }

  nav {
    margin-top: 10px;
    width: 100%;
  }

  ul {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  ul.active {
    display: flex;
  }

  ul a {
    width: 100%;
  }
}

.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  overflow-x: hidden;
}

.content .section {
  width: 100%;
  height: 100vh;
}

.content .section.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}